<!-- 
  Copyright (c) 2024 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0
-->

{{ $lang := .Page.Lang }}
{{ $source := .Get "source"}}

{{ $members := (index (index $.Site.Data $lang) $source).members.items }}

<div class="text-center section-header-primary">
  <h2 class="text-primary">Members</h2>
  <div class="owl-carousel owl-theme solstice-slider owl-drag" data-slider-lg-count="5">
    {{ range $members }}
    <div class="sig-logo-wrapper">
      <a target="_blank" href="{{ .website }}" class="link-unstyled flex-center">
        {{ if .logo }}
        <img style="width: 50%" src="{{ .logo }}" alt="{{ .name }}">
        {{ else }}
        <div class="placeholder-text">{{ .name }}</div>
        {{ end }}
      </a>
    </div>
    {{ end }}
  </div>
</div>
