<section class="hack-challenges-section section-featured row dark padding-top-40 padding-bottom-60 bg-american-purple">
  <div class="container">
    <h2 class="margin-bottom-60 text-center">Hack Challenges</h2>
    <div class="col-sm-10">
      <p>
        Explore the SDV Tooling Landscape – find the next creative use case of the
        Eclipse SDV Tooling projects to build the software of the future car
      </p>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <p>
        Use current SDV Projects to contribute to the SDV Blueprints concepts and
        use cases
      </p>
    </div>
    <div class="col-xs-24 margin-top-60 text-left">
      <div class="row">

        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">DCO Challenge</strong>
            <p>
              Do you want to revolutionize the world of energy management?
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>Git</li>
              <li>Maven</li>
              <li>Java Spring Boot</li>
              <li>Next.js and React</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-16 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Maestro Challenge</strong>
            <p>
              Do you want to be THE next maestro of the next generation of
              vehicle software? The time is now! The future of the car lies not
              only in the applications themselves,but also in the perfect
              interaction of individual components of sensors, application
              data, cloud connections and more. Imagine yourself as the
              maestro. You are not just writing code. You are composing a
              masterpiece that will drive the future of transportation. Your
              work will ensure that every component works in perfect harmony. A
              number of interesting technologies await you, like:
            </p>
            <ul>
              <li>Full In-Vehicle Stack with software orchestrators</li>
              <li>Development of containerized vehicle applications</li>
              <li>OpenAI, Rust, and more...!</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Fleet Management Challenge</strong>
            <p>
              Use your creativity to extend and improve our Fleet Management
              Blueprint
            </p>
            <p>Good to Know (but not mandatory):</p>
            <ul>
              <li>VSS (Vehicle Signal Specification)</li>
              <li>InfluxDB</li>
              <li>Grafana</li>
              <li>Docker Compose</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Companion Application Challenge</strong>
            <p>
              Harness your creativity by expanding upon the seat adjuster
              example from the Companion Application Blueprint using Eclipse
              Velocitas and Eclipse Kuksa.
            </p>
            <p>Good to Know (but not mandatory):</p>
            <ul>
              <li>Docker containers</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Hack the Car Challenge</strong>
            <p>
              You now have access to a real research vehicle. How are you going
              to use it?
            </p>
            <p>Recommended: Python or C++</p>
            <p>Other Options:</p>
            <ul>
              <li>C</li>
              <li>C#</li>
              <li>JavaScript</li>
              <li>Rust</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Closed Loop Driving Challenge</strong>
            <p>
              Using a Data Publisher and a Simulator, what cool autonomous
              driving algorithms would you create?
            </p>
            <p>Recommended: Python or C++</p>
            <p>Other Options:</p>
            <ul>
              <li>C</li>
              <li>C#</li>
              <li>JavaScript</li>
              <li>Rust</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Trace Debugging Challenge</strong>
            <p>
              Do you want to be the detective when it comes to the data exchanged
              in the vehicle?
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>C++</li>
              <li>CMake</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Muto Multi Agent Racer Challenge</strong>
            <p>
              Take ROS, F1Tenth and a race track and see where it all gets you!
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>Docker</li>
              <li>ROS and/or ROS2</li>
              <li>Python and/or C++</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
