/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * SPDX-License-Identifier: EPL-2.0
*/
.threadx-header-wrapper {
  .featured-jumbotron {
    min-height: 28rem;
    background-image: url('../images/pages/threadx/jumbotron-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    h1 {
      text-transform: uppercase;
      font-weight: 500;
      font-family: 'Audiowide', sans-serif;
      font-size: 58px;
      margin-top: 8rem;
  
      @media (max-width: 992px) {
        font-size: 48px;
      }
    }
  }  
}