<div class="featured-section featured-about" id="about">
    <div class="container">
        <h2>About the Software Defined Vehicle Working Group</h2>
        <div class="featured-about-text">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-6">
                    <p>We offer an <strong>open technology platform</strong> for the software defined vehicle of the future; focused on accelerating innovation of <strong>automotive-grade</strong> in-car software stacks using <strong>open standards</strong> to help support a vivid <strong>community</strong>. What does this mean?</p>
                    <p><strong>Open technology platform:</strong> The open technology platform will include open-sourced, modular software components and frameworks that are fully integrated into a modern developer experience with a high degree of automation and virtualization.</p>
                    <p><strong>Automotive-grade:</strong> Our approach will consider high performance computers as well as legacy ECUs and will stretch from quality managed to safety-relevant functions across all vehicle domains under adherence of the highest safety and security standards.</p>
                    <p><strong>Open standards:</strong> Our solutions don&#39;t aim to &quot;re-invent the wheel&quot;, we use open standards wherever possible. We participate in shaping the future of industry standards through the power of open collaboration.</p>
                    <p><strong>Community:</strong> We are building value together and welcome everyone to participate. We aim to join forces on the non-differentiating parts, thus decreasing time-to-market, and sharing best practices, and overcome the war for talent.</p>

                    <p><a class="btn btn-primary margin-top-20" href="https://www.eclipse.org/org/workinggroups/sdv-charter.php">Read the Charter</a></p>
                </div>
            </div>
        </div>  
    </div>
</div>