{{ $class := .Get "class" }}
{{ $heading := .Get "heading" | default "Videos from previous community days" }}
{{ $hide_heading := .Get "hide_heading" }}
<div class="previous-event-videos {{ $class }}">
    {{ if not (eq $hide_heading "true") }}
      <h2>{{ $heading }}</h2>
    {{ end }}
    <div class="row margin-top-20 text-center">
        <div class="col-sm-12 col-sm-offset-6">
            <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLXGqib0ZinZEdDFz8gBGi5AXddzo-mqYz&si=8Ah8Ngl0maEwthuB"></a>
        </div>
    </div>
</div>
