<!-- 
  Copyright (c) 2023 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="landscape-section row padding-y-60">
  <div class="container">
    {{ if eq (.Get "includeTitle") "true" }}
    <h2 class="text-center">The SDV Projects Landscape</h2>
    <div class="landscape-diagram padding-y-40">
    {{ else }}
    <div class="landscape-diagram">
    {{ end }}
    
      <div class="landscape-diagram-stack landscape-diagram-stack-main">

        <div class="landscape-diagram-stack-item">
          <img 
            class="landscape-diagram-stack-item-icon" 
            src="/images/project-landscape-diagram/application-development.svg" 
            alt="" 
          />
          <b class="h4">
            Application <br> Development
          </b>
          <ul class="landscape-diagram-stack-item-parts">
            <li >
              Tooling
            </li>
            <li>
              CI/CD Workflows
            </li>
          </ul>
        </div>

        <div class="landscape-diagram-stack-item">
          <img 
            class="landscape-diagram-stack-item-icon" 
            src="/images/project-landscape-diagram/orchestration-and-management.svg" 
            alt="" 
          />
          <b class="h4">
            Orchestration <br>
            & Management
          </b>
          <ul class="landscape-diagram-stack-item-parts">
            <li>
              Communication Middleware
            </li>
            <li>
              Digital Twin
            </li>
            <li>
              Vehicle Data Abstraction
            </li>
            <li>
              Messaging
            </li>
          </ul>
        </div>

        <div class="landscape-diagram-stack-item">
          <img 
            class="landscape-diagram-stack-item-icon" 
            src="/images/project-landscape-diagram/runtime.svg" 
            alt="" 
          />
          <b class="h4">
            Runtime
          </b>
          <ul class="landscape-diagram-stack-item-parts">
            <li>
              Operating Systems
            </li>
            <li>
              Hypervisor
            </li>
            <li>
              Container Runtimes
            </li>
          </ul>
        </div>

      </div>
      <div class="landscape-diagram-stack landscape-diagram-stack-aside">

        <div class="landscape-diagram-stack-item">
          <b class="h4">
            Example <br> Applications
          </b>
          <ul class="landscape-diagram-stack-item-parts">
            <li >
              Driving Assistance
            </li>
            <li>
              Lighting
            </li>
          </ul>
        </div>

        <div class="landscape-diagram-stack-item">
          <b class="h4">
            Platform / <br> Distribution
          </b>
          <ul class="landscape-diagram-stack-item-parts">
            <li >
              QM Domain
            </li>
            <li>
              Safety Domain
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</section>
