<div id="sponsors" class="featured-section featured-sponsors">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <h2>Sponsors</h2>
                <p class="margin-bottom-40 big">Show your direct support for the Software Defined Vehicle Community without committing to membership.</p>

                {{ if $.Site.Data.sponsors.items }}
                <div class="owl-carousel owl-theme ide-sponsors-slider solstice-slider owl-loaded owl-drag" data-slider-xs-count="3" data-slider-sm-count="3" data-slider-md-count="4" data-slider-lg-count="4">
                    {{ range $.Site.Data.sponsors.items }}
                    <div class="featured-members-item item padding-20">
                        <a target="_blank" href="{{.url}}">
                            <img alt="{{.title}}" class="img-responsive" src="{{.image}}" width="{{.width}}">
                        </a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                <p><a class="btn btn-primary" href="https://www.eclipse.org/org/workinggroups/sponsorship/working-group-sponsorship-agreement.pdf">Become a Sponsor</a></p>
            </div>
        </div>
        
    </div>
</div>